@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");

.election {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.election-title {
    font-family: "Alegreya";
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}
